body {
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ol, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  border: none;
}

button:hover {
  cursor: pointer;
}

.body {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
}

.list-header,
.list-peculiarities,
.list-doing,
.list-team,
.list-clients,
.list-social {
  display: flex;
  justify-content: space-between;
}

.main-conteiner {
  width: 1600px;
  margin: 0 auto;
}

.conteiner {
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  border-bottom: 1px solid #ECECEC;
  background-color: #FFFFFF;
  width: 1600px;
  height: 80px;
  text-wrap: nowrap;
}
.header .header-div {
  display: flex;
  align-items: center;
  padding-top: 24px;
}
.header .list-header {
  gap: 50px;
}
.header .link-header {
  font-family: "Raleway";
  color: #2196F3;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  vertical-align: middle;
  margin-right: 93px;
}
.header .logo {
  font-family: "Raleway";
  color: #000000;
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
}
.header .nav {
  margin-right: 315px;
  display: flex;
  align-items: center;
}
.header .link-list-item-header {
  color: #212121;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  text-decoration: none;
  position: relative;
  padding-bottom: 33px;
  transition-property: color, fill;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 100ms;
}
.header .link-list-item-header.active {
  color: #2196F3;
}
.header .link-list-item-header:hover {
  color: #2196F3;
}
.header .link-list-item-header::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: #2196F3;
  border-radius: 2px;
  transform: scaleX(0);
  transition-property: transform;
  transition-duration: 500ms;
  transition-timing-function: ease;
}
.header .link-list-item-header.active::after, .header .link-list-item-header:hover::after {
  transform: scaleX(1);
}
.header .list__item-header:hover .link-list-item-header {
  color: #2196F3;
  fill: #2196F3;
}
.header .header-list {
  gap: 30px;
}
.header .link-list-item {
  color: #757575;
  fill: #757575;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.02em;
  display: flex;
  align-items: center;
  gap: 10px;
  transition-property: color, fill;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 100ms;
}

.nav-list,
.header-list {
  display: flex;
  list-style: none;
  align-items: center;
}

.list__item-header:hover .link-list-item {
  color: #2196F3;
  fill: #2196F3;
}

.hero {
  background-color: #2F303A;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/background.jpg);
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero .hero-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero .title-hero {
  color: #FFFFFF;
  width: 696px;
  font-weight: 900;
  font-size: 44px;
  line-height: 136%;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}
.hero .button-hero {
  background-color: #2196F3;
  color: #FFFFFF;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.06em;
  text-align: center;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border: none;
  width: 216px;
  height: 50px;
}
.hero .button-hero:hover {
  box-shadow: none;
  cursor: pointer;
}
.hero .backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 2;
}
.hero .backdrop.is-hidden .modal {
  opacity: 0;
  transform: translate(-50%, -50%) scale(1.5);
}
.hero .modal {
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  height: 581px;
  padding: 40px;
  background-color: #FFFFFF;
  transform: translate(-50%, -50%);
  transition-property: transform, opacity;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.hero .modal .title-modal {
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  margin-bottom: 12px;
}
.hero .modal .label {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 10px;
}
.hero .modal .div-checkbox {
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 30px;
}
.hero .modal .div-checkbox .link-check {
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #2196F3;
}
.hero .modal .div-form > input {
  padding-left: 42px;
}
.hero .modal input, .hero .modal textarea {
  outline: none;
}
.hero .modal input:focus:valid, .hero .modal textarea:focus:valid {
  outline: 1px solid #2196F3;
}
.hero .modal input:focus:invalid, .hero .modal textarea:focus:invalid {
  outline: 1px red solid;
}
.hero .modal .checkbox-lb {
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  color: #757575;
}
.hero .modal .textarea {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 448px;
  height: 120px;
  resize: none;
  padding-top: 12px;
  padding-left: 16px;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
}
.hero .modal .textarea:focus {
  border: 1px solid #2196F3;
  transition: border-color 0.3s;
}
.hero .modal .input-text {
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 448px;
  height: 40px;
}
.hero .modal .btn {
  position: absolute;
  top: 8px;
  right: 8px;
  border-radius: 100%;
  fill: #000;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #FFFFFF;
  width: 31px;
  height: 31px;
}
.hero .modal .btn:hover {
  cursor: pointer;
}
.hero .modal .man,
.hero .modal .phone1,
.hero .modal .mail {
  position: absolute;
  fill: #212121;
}
.hero .modal .man.man,
.hero .modal .phone1.man,
.hero .modal .mail.man {
  top: 32px;
  left: 15px;
}
.hero .modal .man.phone1,
.hero .modal .phone1.phone1,
.hero .modal .mail.phone1 {
  top: 31.3px;
  left: 15px;
}
.hero .modal .man.mail,
.hero .modal .phone1.mail,
.hero .modal .mail.mail {
  top: 32px;
  left: 14px;
}
.hero .submit {
  width: 200px;
  height: 50px;
}
.hero .forms {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.hero .forms .div-form {
  position: relative;
}
.hero .forms .div-form:not(:last-child) {
  margin-bottom: 10px;
}

.is-hidden {
  opacity: 0;
  pointer-events: none;
}

.no-scroll {
  overflow: hidden;
}

.section-peculiarities {
  padding-top: 94px;
}
.section-peculiarities .title-peculiarities {
  color: #212121;
  font-size: 36px;
  text-align: center;
  margin-bottom: 50px;
  display: none;
}
.section-peculiarities .list-peculiarities {
  display: flex;
  justify-content: space-between;
}
.section-peculiarities .list-peculiarities .list__item-peculiarities {
  width: 270px;
}
.section-peculiarities .list-peculiarities .list__item-peculiarities::before {
  content: "";
  display: block;
  width: 100%;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
}
.section-peculiarities .list-peculiarities .list__item-peculiarities:nth-child(1)::before {
  background-image: url(../images/antenna.svg);
}
.section-peculiarities .list-peculiarities .list__item-peculiarities:nth-child(2)::before {
  background-image: url(../images/clock.svg);
}
.section-peculiarities .list-peculiarities .list__item-peculiarities:nth-child(3)::before {
  background-image: url(../images/diagram.svg);
}
.section-peculiarities .list-peculiarities .list__item-peculiarities:nth-child(4)::before {
  background-image: url(../images/astronaut.svg);
}
.section-peculiarities .peculiarities-title {
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.section-peculiarities .description {
  color: #757575;
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
}

.section-doing {
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-doing .title-doing {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}
.section-doing .list-doing {
  display: flex;
  justify-content: space-between;
}
.section-doing .list-doing .list-doing__item {
  position: relative;
  width: 370px;
  height: 294px;
  transform: scaleX(1);
  transition-property: transform;
  transition-duration: 500ms;
  transition-timing-function: ease;
  transition-delay: 100ms;
}
.section-doing .list-doing .list-doing__item:hover {
  transform: scale(1.05);
}
.section-doing .list-doing .list-doing__item .text-doing {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #FFFFFF;
  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0;
  width: 100%;
  text-wrap: nowrap;
  padding: 24px 0;
}

.section-team {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}
.section-team .title-team {
  color: #212121;
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}
.section-team .list-team {
  display: flex;
  justify-content: space-between;
}
.section-team .list-team .list-team__item {
  padding-bottom: 30px;
  border-radius: 0 0 4px 4px;
  background-color: white;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: scaleX(1);
  transition-property: transform, box-shadow;
  transition-duration: 500ms;
  transition-timing-function: ease;
  transition-delay: 100ms;
}
.section-team .list-team .list-team__item:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2), 0 4px 4px 0 rgba(0, 0, 0, 0.14), 0 4px 4px rgba(0, 0, 0, 0.12);
}
.section-team .team-image {
  width: 270px;
  height: 260px;
  margin-bottom: 30px;
}
.section-team .name {
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 10px;
}
.section-team .profession {
  color: #757575;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.03em;
  text-align: center;
}
.section-team .social-list {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 16px;
}
.section-team .social-list .social-list__item {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-team .social-list .social-list__item:hover .social-link {
  background-color: #2196F3;
  fill: #FFFFFF;
}
.section-team .social-link {
  width: 100%;
  height: 100%;
  fill: #AFB1B8;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  transition-property: background, fill;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 100ms;
}

.section-clients {
  padding: 94px 0;
}
.section-clients .title-clients {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  margin-bottom: 50px;
}
.section-clients .list-clients {
  display: flex;
  gap: 30px;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}
.section-clients .list-clients .list-clients__item:hover .link-clients {
  border-color: #2196F3;
  fill: #2196F3;
}
.section-clients .link-clients {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: #AFB1B8;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  width: 170px;
  height: 92px;
  transition: border 500ms cubic-bezier(0.4, 0, 0.2, 1) 100ms, fill 500ms cubic-bezier(0.4, 0, 0.2, 1) 100ms;
}

.footer {
  background-color: #2F303A;
  padding: 60px 0;
}
.footer .footer__adress {
  font-style: normal;
}
.footer .link-footer {
  color: #2196F3;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  display: block;
}
.footer .logo-footer {
  color: #FFFFFF;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}
.footer .list-footer {
  padding: 0;
  margin: 0;
  list-style: none;
}
.footer .list-footer .list-footer__item {
  display: flex;
  flex-direction: row;
}
.footer .list-footer .list-footer__item:not(:last-child) {
  margin-bottom: 9px;
}
.footer .link-address-maps {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
}
.footer .link-address {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.03em;
  transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1) 100ms;
}
.footer .link-address:hover {
  color: #FFFFFF;
}
.footer .footer-div {
  display: flex;
  flex-direction: row;
}
.footer .footer-social {
  padding-top: 12px;
  margin-left: 70px;
}
.footer .footer-social .title-footer-social {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}
.footer .footer-social .social-list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  gap: 10px;
}
.footer .footer-social .social-list .social-list__item-footer {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
}
.footer .footer-social .social-list .social-list__item-footer .social-link {
  width: 100%;
  height: 100%;
  fill: #FFFFFF;
  border-radius: 50%;
  transition: background 500ms cubic-bezier(0.4, 0, 0.2, 1) 100ms, fill 500ms cubic-bezier(0.4, 0, 0.2, 1) 100ms;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer .footer-social .social-list .social-list__item-footer .social-link:hover {
  background-color: #2196F3;
  fill: #FFFFFF;
}
.footer .div-send {
  margin-left: 93px;
  padding-top: 12px;
}
.footer .div-send .title-footer-send {
  font-weight: 700;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}
.footer .div-send .form-footer {
  display: flex;
  align-items: center;
}
.footer .div-send .form-footer .input-send {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  width: 358px;
  height: 50px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: rgba(33, 150, 243, 0);
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  padding: 15px 16px;
  outline: none;
}
.footer .div-send .form-footer .input-send:focus:invalid {
  border-color: red;
}
.footer .div-send .form-footer .button-send {
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  fill: white;
  color: #FFFFFF;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #2196f3;
  border: none;
  padding: 10px 28px;
  gap: 10px;
  margin-left: 12px;
  cursor: pointer;
}

.filter-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.portfolio-section {
  padding: 94px 0;
}

.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  padding-bottom: 16px;
}

#active {
  background-color: #2196F3;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 3px 1px 0 rgba(0, 0, 0, 0.1);
  color: #FFFFFF;
}

.project-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  list-style: none;
  padding: 0;
}

.list-item-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 162%;
  letter-spacing: 0.03em;
  text-align: center;
  color: #212121;
  background-color: #F5F4FA;
  border: 0;
  padding: 6px 24px;
  border-radius: 4px;
}

.list-item-button:hover {
  background-color: #2196F3;
  color: #FFFFFF;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.08), 0 3px 1px 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition-property: background, color, box-shadow;
  transition-duration: 500ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 100ms;
}

.filter-list-item:not(:last-child) {
  margin-right: 8px;
}

.filter-title {
  display: none;
}

.project-title {
  text-align: center;
}

.div-text {
  width: 370px;
  height: 110px;
  padding: 20px 23px 19px 23px;
  border: solid #EEEEEE;
  border-width: 0 1px 1px 1px;
  background-color: #FFFFFF;
  position: relative;
}

.project-item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 200%;
  letter-spacing: 0.06em;
  color: #212121;
  justify-content: left;
  margin-bottom: 4px;
  text-wrap: nowrap;
}

.description-p {
  font-weight: 400;
  font-size: 16px;
  line-height: 187%;
  letter-spacing: 0.03em;
  color: #757575;
  justify-content: left;
}

.project-list-item {
  background-color: #FFFFFF;
  max-width: 370px;
  cursor: pointer;
  transition-property: box-shadow;
  transition-duration: 500ms;
  transition-timing-function: ease;
}

.project-list-item:hover {
  box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
}

.box {
  position: relative;
  width: 370px;
  height: 404px;
  margin: 0 auto;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translatey(100%);
  transition-property: transform;
  transition-duration: 500ms;
  transition-timing-function: ease-in-out;
}

.box:hover .overlay {
  transform: translatey(0);
}

.taxt {
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  padding: 63px 24px;
}/*# sourceMappingURL=main.css.map */