.header{
    border-bottom: 1px solid var(--color-border);
    background-color: var(--color-light);
    width: 1600px;
    height: 80px;
}
.nav-list,
.header-list{
    display: flex;
    list-style: none;
    align-items: center;
}
.header-div{
    display: flex;
    align-items: center;
    padding-top: 24px;
}
.nav-list{
    gap: 50px;
}
.nav-list-link::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: #2196F3;
    border-radius: 2px;
    transform: scaleX(0);
    transition-property: transform;
    transition-duration: 500ms;
    transition-timing-function: ease;
}
.nav-list-link.active-link::after {
    transform: scaleX(1);
}
.nav-list-link:hover::after {
    transform: scaleX(1);
}
.nav-link{
    font-family: 'Raleway';
    color: var(--color-main-brand);
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;
    vertical-align: middle;
    margin-right: 93px;
}
.header-studio{
    font-family: 'Raleway';
    color: var(--color-black);
    font-weight: 700;
    font-size: 26px;
    letter-spacing: 0.03em;
}
.nav{
    margin-right: 315px;
    display: flex;
    align-items: center;
}
.nav-list-link{
    color: var(--color-dark);
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    text-decoration: none;
    position: relative;
    padding-bottom: 32px; 

    transition-property: color, fill;
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 100ms;
}
.nav-list-link:hover{
    color: var(--color-main-brand);
}
.header-list{
    gap: 30px;
}
.list-link{
    color: var(--color-text);
    fill: var(--color-text);
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    display: flex;
    align-items: center;
    gap: 10px;
    // text-wrap: nowrap;

    transition-property: color, fill;
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 100ms;
}
.list-item:hover .list-link{
    color: var(--color-main-brand);
    fill: var(--color-main-brand);

}
.active-link{
    color: var(--color-main-brand);
}