.project-title{
    text-align: center;
}
.div-text{
    width: 370px;
    height: 110px;
    padding: 20px 23px 19px 23px;
    border: solid getColor(div); 
    border-width: 0 1px 1px 1px;
    background-color: #FFFFFF;
    position: relative;
}
.project-item-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 200%;
    letter-spacing: 0.06em;
    color: var(--color-dark);
    justify-content: left;
    margin-bottom: 4px;
    text-wrap: nowrap;
}
.description-p{
    font-weight: 400;
    font-size: 16px;
    line-height: 187%;
    letter-spacing: 0.03em;
    color: getColor(text);
    justify-content: left;
}
.project-list-item{
    background-color: getColor(light);
    max-width: 370px;
    cursor: pointer;

    transition-property: box-shadow;
    transition-duration: 500ms;
    transition-timing-function: ease;
}
.project-list-item:hover{
    box-shadow: 1px 4px 6px 0 rgba(0, 0, 0, 0.16), 0 4px 4px 0 rgba(0, 0, 0, 0.06), 0 1px 1px 0 rgba(0, 0, 0, 0.12);
}
.box{
    position: relative;
    width: 370px;
    height: 404px;
    margin: 0 auto;
    overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: getColor(div-text);

  transform: translatey(100%);
  transition-property: transform;
  transition-duration:  500ms;
  transition-timing-function: ease-in-out;
}
.box:hover .overlay {
    transform: translatey(0);
}
.taxt{
    font-weight: 400;
    font-size: 18px;
    line-height: 156%;
    letter-spacing: 0.03em;
    color: getColor(light);
    padding: 63px 24px;
}