.section-doing{
    padding-top: 94px;
    padding-bottom: 94px;
}
.section-doing-title{
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 50px;
}
.section-doing-list{
    display: flex;
    justify-content: space-between;
}
.doing-text{
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: center;
    color: getColor($color-light);
    background-color: rgba(47, 48, 58, 0.8);
    position: absolute;
    bottom: 0;
    width: 100%;
    text-wrap: nowrap;
    padding: 24px 0;
}
.doing-item {
    position: relative;
    width: 370px;
    height: 294px;
    transform: scaleX(1);
    transition-property: transform;
    transition-duration: 500ms;
    transition-timing-function: ease;
    transition-delay: 100ms;
}
.doing-item:hover{
    transform: scale(1.05);
    cursor: pointer;
}