.section-clients{
    padding: 94px 0;
}
.title-clients{
    font-weight: 700;
    font-size: 36px;
    letter-spacing: 0.03em;
    text-align: center;
    color: getColor(dark);
    text-align: center;
    margin-bottom: 50px;
}
.list-clients{
    display: flex;
    gap: 30px;
}
.list-clients__item:hover .link-clients{
    border-color: getColor(main);
    fill: getColor(main);
}
.link-clients{
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #AFB1B8;
    border: 1px solid #afb1b8;
    border-radius: 4px;
    width: 170px;
    height: 92px;

    transition-property: border, fill;
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-delay: 100ms;
}