.section-peculiarities {
    padding-top: 94px;
    
    .title-peculiarities {
        color: getColor(dark);
        font-size: 36px;
        text-align: center;
        margin-bottom: 50px;
        display: none;
    }
    
    .list-peculiarities {
        @include flex-just;
        
        .list__item-peculiarities {
            width: 270px;
            
            &::before {
                content: '';
                display: block;
                width: 100%;
                height: 120px;
                margin-bottom: 30px;
                border-radius: 4px;
                background-repeat: no-repeat;
                background-position: center;
                background-color: getColor(gray);
            }

            &:nth-child(1)::before {
                background-image: url(../images/antenna.svg);
            }

            &:nth-child(2)::before {
                background-image: url(../images/clock.svg);
            }

            &:nth-child(3)::before {
                background-image: url(../images/diagram.svg);
            }

            &:nth-child(4)::before {
                background-image: url(../images/astronaut.svg);
            }
        }
    }

    .peculiarities-title {
        color: getColor(dark);
        font-weight: 700;
        font-size: 14px;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        margin-bottom: 10px;
    }

    .description {
        color: getColor(text);
        font-weight: 400;
        font-size: 14px;
        line-height: 171%;
        letter-spacing: 0.03em;
    }
}